:root {
    --primary-color: #037971;  /* Define a variable called --primary-color with the value blue */
    --secondary-color: #e8ebf7; /* Define another variable called --secondary-color with the value red */
    --font-family: Lato, sans-serif;  /* Define a variable called --font-family with the value Lato */
  }

body {
    color: var(--primary-color);  /* Use the --primary-color variable to set the text color */
    font-family: var(--font-family); /* Use the --font-family variable to set the font family */
  }

h1 {
    color: var(--secondary-color); /* Use the --secondary-color variable to set the h1 color */
  }
h1, h2, h3, h4, h5, h6 { 
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
p {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
.socials a { 
    text-decoration: none; 
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  
.hero h1 {
    position: absolute; 
}
  
.hero article {
    position: absolute;
    /* Add top, left, right, bottom as needed for positioning */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px; 
}
  
.hero article img {
    float: right; /* Image floats to the right of the text */
    margin-left: 20px; /* Space between image and text */
}